/* You can add global styles to this file, and also import other style files */
body{
    font-family: monospace;
}

.b-1 {
    border: 1px solid salmon;
}

.mb-24{
    margin-bottom: 24px;
}

.m-16 {
    margin: 16px;;
}