<header class="b-1 mb-24">
    <h1>header</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias pariatur molestias sequi, cum, consequatur vitae
      nostrum sed rem accusamus itaque id vel voluptate dolores qui quasi amet dolorum harum laborum!</p>

      <a class="m-16" routerLink="/">Home</a>
      <a class="m-16" routerLink="/products">Product</a>
      <a class="m-16" routerLink="/checkout">Checkout</a>
      <a class="m-16" routerLink="/feedback">Feedback</a>
</header>